
.container {
    padding: 0px;
    margin: 0px;
}

.centerTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.centerTable {
    margin-left: auto;
    margin-right: auto;
}

.taxonInfo {
    padding-left:3px;
    padding-right:3px;
    max-width: 120px;
}
  
.phenoBarWeek {
    background-color: green; /* this fills-in between the borders */
    text-align: center;
    width: 90%;
    min-width: 10px; /* total=12px with margins. this is what keeps the cells from shrinking too far */
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.phenoCell {
    max-width:20px;
    min-width:12px;
    width: 12px;
}

.phenoCellToday {
    background-color: aqua;
}

.weekHeaderNumber {
    vertical-align: super;
    font-size: xx-small;
}

.weekHeaderNumber:hover {
    font-weight: bold;
}

.weekHeaderSelected {
    background-color: blueviolet;
}

.monthHeaderName {
    vertical-align: sub;
    font-size: x-small;
}

.no-stretch-cell {
    max-width: 6px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /*max-width: 1200px;*/
}
  
td {
    border:1px solid lightgrey;
    text-align:center;
    font-size:small;
}

thead tr td {
    cursor: pointer;
}

thead tr td:hover {
    background-color: yellowgreen;
}

table tr {
    border:2px solid black !important;
}
