
.centerTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.centerTable {
    margin-left: auto;
    margin-right: auto;
}
  
.phenoBarWeek {
    border-left: 0px solid green;
    border-right: 10px solid green;
    text-align: center;
    width: 0px;
    margin-left: 1px;
    margin-right: 1px;
}

.phenoCell {
    width:15px;
    max-width:12px;
    min-width:12px;
}

.phenoCellToday {
    background-color: aqua;
}

.weekHeaderNumber {
    vertical-align: super;
    font-size: xx-small;
}

.weekHeaderNumber:hover {
    font-weight: bold;
}

.weekHeaderSelected {
    background-color: blueviolet;
}

.monthHeaderName {
    vertical-align: sub;
    font-size: x-small;
}

td {
    border:1px solid lightgrey;
    text-align:center;
    font-size:medium;
}

thead tr td {
    cursor: pointer;
}

thead tr td:hover {
    background-color: yellowgreen;
}

table tr {
    border:2px solid black !important;
}

.taxonInfo {
    min-width:90px;
    padding-left:3px;
    padding-right:3px;
}

.taxonName {
    min-width: 110px;
}

/*
td:nth-child(1) {
    min-width:90px;
    padding-left:3px;
    padding-right:3px;
}

td:nth-child(2) {
    min-width:50px;
    padding-left:3px;
    padding-right:3px;
}
*/
/*
tr:nth-child(1) td {
    border:none;
}
*/